:root{
  --wht: #fff;
  --dark: #363636;
  --main: #0078aa;
  --bl: #000;
  --abt: #e9fffd;
  --card: #47c9e5;
}
*, *::after, *::before{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 24px;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: var(--wht);
  width: 100%;
}
button{
  font-family: 'Montserrat', sans-serif;
  color: var(--main);
  font-weight: 700;
  padding: 10px 15px;
  background-color: var(--wht);
  border: 2px solid var(--main);
  border-radius: 10px;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
a{
text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.white_icon{
  filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(211deg) brightness(105%) contrast(100%);
  margin: 10px;
}
.main_icon{
  filter: invert(33%) sepia(61%) saturate(1597%) hue-rotate(168deg) brightness(92%) contrast(101%);
}
.small_icon{
  margin: 20px;
}
.fixedButton{
  position: fixed;
  bottom: 0px;
  right: 0px; 
  padding: 20px;
}
.roundedFixedBtn{
height: 50px;
width: 50px; 
border-radius: 50%;
background-color: var(--main);
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.icons_container{
  background-color: var(--main);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--wht);
  z-index: 2;
}
.navigation img{
  margin-top: 35%;
}
nav ul{
  display: flex;
  gap: 15px;
  margin: 0 0 15px 0;
}
nav a{
  color: var(--dark);
  font-size: clamp(0.6rem, 3vw, 3rem);
  font-weight: 600;
}
.header{
  background-image: url(../img/lady.jpg);
  background-position: 40%;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.header h1{
  margin: 25% 20% 5% 20%;
}
.header p{
  font-size: 0.6rem;
  color: rgb(138, 138, 138);
  margin: 0 2% 4% 2%;
}
.icons_header{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4%;
}
.about{
  text-align: center;
  margin: auto;
  margin-bottom: 10%;
}
.about img{
  margin-top: 25px;
  width: 100%;
}
.section_h2{
  font-size: 1.3rem;
  margin-bottom: 1.7%;
}
.section_special_p{
  font-size: 0.6rem;
  margin-bottom: 6%;
  font-weight: 500;
  text-transform: uppercase;
}
.about p:first-of-type {
  color: var(--main);
}
.about span{
  color: var(--main);
  margin-right: 7px;
}
.about h3{
  font-size: 0.65rem;
  font-weight: 900;
  margin-bottom: 1.7%;
}
.about p{
  font-size: 0.7rem;
  margin: 0 4% 4% 4%;
}
.services{
  background-image: url(../img/services_bg.jpg);
  padding: 7% 4% 1% 4%;
  text-align: center;
}
.services_article{
  background-color: var(--wht);
  text-align: left;
  padding: 8%;
  margin-bottom: 7%;
}
.services_article h3{
  font-size: 0.65rem;
  margin-bottom: 3%;
}
.services_article p{
  font-size: 0.55rem;
}
.prices{
  text-align: center;
  padding: 4%;
}
.prices h2{
  margin: 0;
}
.card{
  background-color: var(--card);
  color: var(--wht);
  padding: 10% 0 7% 0;
  margin-bottom: 4%;
}
.card h3{
  margin-bottom: 4%;
  font-size: 0.9rem;
}
.card p:first-of-type{
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2%;
}
.card p:nth-of-type(2){
  font-style: italic;
  font-size: 0.6rem;
  margin-bottom: 6%;
}
.card p{
  font-size: 0.45rem;
  margin-bottom: 5%;
}
.prices img{
  width: 3%;
  margin: 0 0 5% 0;
}
.card_2{
  background-color: var(--wht);
  color: var(--main);
  padding: 10% 0 7% 0;
  margin-bottom: 4%;
  border: 2px solid var(--main);
}
.contact{
  text-align: center;
  margin-bottom: 5%;
}
.contact img{
  width: 100%;
}
.contact h2{
  margin: 2.5% 4% 2% 4%;
}
.contact form{
  margin: 0 10% 0 10%;
}
.contact input{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(231, 231, 231);
  display: block;
  width: 100%;
  margin-bottom: 7%;
  padding: 2%;
  padding-left: 4%;
}
.contact input::placeholder{
  font-style: italic;
  color: rgb(99, 99, 99);
}
.contact input[type="date"]{
  border: none;
}
.contact button{
  background-color: var(--main);
  color: var(--wht);
  font-weight: 600;
}
footer{
  padding: 5.5%;
  background-color: var(--dark);
  color: var(--wht);
  text-align: center;
  font-size: 0.7rem;
}
@media screen and (min-width: 768px){
  .navigation{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navigation img{
    margin: 40%;
  }
  nav ul{
    gap: 20px;
    margin: 15px;
  }
  nav a{
    color: var(--dark);
    font-size: clamp(0.5rem, 1.8vw, 2rem);
    font-weight: 600;
  }
  .header{
    background-image: url(../img/lady.jpg);
    background-position: 42%;
    background-repeat: no-repeat;
    text-align: left;
    padding: 30% 2%;
  }
  .header h1{
    margin: 0 25% 3% 0;
  }
  .header p{
    font-size: 0.6rem;
    color: rgb(138, 138, 138);
    margin: 0 35% 3% 0;
  }
  .icons_header{
    justify-content: start;
    gap: 3%;
    margin-bottom: 4%;
  }
  .about{
    display: flex;
    margin: 8% 2.5% 8% 0;
    text-align: left;
    gap: 3.5%;
  }
  .about_img{
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .about img{
    margin: 0;
  }
  .about_text{
    margin: 0;
    flex-grow: 1;
  }
  .about p{
    font-size: 0.5rem;
    margin: 0 0 4% 0;
  }
  .about p:first-of-type {
    font-size: 0.55rem;
    margin-bottom: 5%;
  }
  .about h3{
    font-size: 0.58rem;
  }
  .section_special_p{
    font-size: 0.55rem;
  }
  .services_article{
    padding: 4% 3%;
  }
  .services{
    padding: 7% 0% 1% 0%;
  }
  .services .section_h2{
    margin-bottom: 0.7%;
  }
  .services .section_special_p{
    margin-bottom: 3%;
  }
  .articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .articles > article{
    flex-basis: 30%;
  }
  .prices{
  background-image: url(../img/pricing_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
  padding: 5.5% 1.5% 0 2.5%;
  }
  .prices_cards{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card{
    margin: 0;
    width: 33%;
    padding: 6% 0;
  }
  .card_2{
    padding: 10% 0 7% 0;
  }
  .prices .section_special_p{
    margin-bottom: 2.5%;
  }
  
}